<?xml version="1.0"?>

<launch>
    <include file="$(find final_assignment)/launch/simulation_gmapping.launch" />
    <include file="$(find final_assignment)/launch/move_base.launch" />
    <node pkg="final_assignment" type="userinterface_node" name="userinterface_node" output="screen" required="true" launch-prefix="xterm -e" />
</launch>
